<section class="product-table-wrapper">
    <table class="product-table" role="grid" aria-describedby="Produktliste">
        <thead>
            <tr>
                <th>Produkt</th>
                <th>Beschreibung</th>
                <th>Bestand</th>
                <th>Preis(€)</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @for(items of list; track items.name; let i = $index){

            <tr [routerLink]="['detail', items.name]" role="link">
                <td>{{ i + 1 }}-{{ items.name }}</td>
                <td>{{ items.description }}</td>
                <td><span class="badge ok">{{ items.stock }}</span></td>
                <td class="price">
                    @switch (true) {
                        @case(items.price > 1000000) {
                            <span class="badge ok">{{ items.price / 1000000 | currency:'EUR'}} Mio.</span>
                        }
                        @case(items.price > 1000) {
                            <span class="badge warning">{{ items.price / 1000 |currency:'EUR'}} tsd.</span>
                        }
                        @case (items.price < 1000) {
                            <span class="badge error">{{ items.price }}€</span>
                        }
                    }
                </td>
                <td><a class="btn--view" [routerLink]="['detail', items.name]" aria-label="Details anzeigen"></a></td>
            </tr>
            }@empty {
                <tr>
                    <td colspan="5">Keine Produkte verfügbar.</td>
                </tr>
            }

        </tbody>
    </table>
</section>